.indexTop {
  padding: 5px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  font-weight: bold;
  color: #333;
  height: 36px;
}
.inner {
  padding: 5px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  font-weight: bold;
  color: #333;
  height: 36px;
}
