.timeArea {
  display: flex; /* 새로 추가 */
  justify-content: flex-start; /* 새로 추가 */
  align-items: center; /* 자식 요소들을 세로 중앙에 배치 */
  letter-spacing: -6px;
  font-size: 40pt;
  /* color: #FF6815; */
  color: #a20131;
  font-weight: bold;
  text-shadow: rgb(80, 80, 80) -1px -1px 1px;
  width: 100%;
  margin-left: 7px;
  padding-top: 4px;
}

.msecArea {
  letter-spacing: -3px;
  font-size: 27pt;
  /* color: #FF6815; */
  color: #a20131;
  font-weight: bold;
  text-shadow: rgb(80, 80, 80) -1px -1px 1px;
  padding-top: 2px;
  padding-left: 10px;
}

.clockWithMsec {
  display: flex;
  align-items: baseline;
}

.position {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.checkboxes {
  font-size: small;
  margin: 0px 5px 5px 5px;
}

.redBackground {
  transition: background-color 7s;
  background-color: red;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
